{% extends 'base.html' %}
{% load poll_extras %}

{% block content %}
{% if request.role == 'Admin' %}
<a href="/employee/add/">Add employee</a>
{% endif %}
<h2>List of {{title}}</h2>
{% if users %}
    <ul>
        {% for user in users %}
            <li>
                {{user.first_name}} {{user.last_name}}
                <a class="btn btn-primary" href="{%  url 'employee_details' user.id %}">Details</a>
                <a class="btn btn-warning" href="{%  url 'employee_edit' user.id %}">Edit</a>
                <a class="btn btn-danger" href="{%  url 'employee_delete' user.id %}">Delete</a>

            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>There is no employee available.</p>
{% endif %}
<div class="col-sm-4">
    {% recent_polls 1 name="soumitra" as questions %}
    {% if questions %}
        <ul>
            {% for ques in questions %}
                <li><a href="{% url 'post_details' ques.id %}">{{ ques.title }}</a></li>
            {% endfor %}
        </ul>

    {% else %}
    <h1>Ther is no question available</h1>
    {% endif %}
</div>

{% endblock content %}